@{
    ViewData["Title"] = "Home Page";
}

@model FormSubmission.Models.User

<h1>ENTER YOUR INFORMATION</h1>

<form asp-action="Submit" method="post" class="form_submit" asp-controller="Home">
    <p>FIRST NAME</p>
    <span asp-validation-for="FirstName"></span>
    <input type="text" asp-for="FirstName" class="first_name" placeholder="Your First Name"/>

    <p>LAST NAME</p>  
    <span asp-validation-for="LastName"></span>      
    <input type="text" asp-for="LastName" class="last_name" placeholder="Your Last Name"/>

    <p>AGE</p>    
    <span asp-validation-for="Age"></span>
    <input type="number" asp-for="Age" class="age" placeholder="Your Age" min="1" max="100"/>

    <p>EMAIL ADDRESS</p>
    <span asp-validation-for="EmailAddress"></span>
    <input type="email" asp-for="EmailAddress" class="email" placeholder="Your Email"/>

    <p>PASSWORD</p>
    <span asp-validation-for="Password"></span>
    <input type="password" asp-for="Password" class="password" placeholder="Your Password"/>

    <button type="submit" class="btn">SUBMIT</button>
</form>