<!-- @model RESTauranter.Models.Review

<form asp-controller="Home" asp-action="AddView" method="post">
    <span asp-validation-for="reviewer"></span>
    <label asp-for="reviewer">Reviewer Name</label>
    <input asp-for="reviewer" class="form-control" placeholder="Your Name"/>

    <span asp-validation-for="restaurantName"></span>
    <label asp-for="restaurantName">Restaurant Name</label>
    <input asp-for="restaurantName" class="form-control" placeholder="Restaurant Name"/>

    <span asp-validation-for="review"></span>
    <label asp-for="review">Review</label>
    <input asp-for="review" class="form-control" placeholder="Your Review"/>

    <span asp-validation-for="rating"></span>
    <label asp-for="rating">Rating</label>
    <select asp-for="rating" class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>

    <span asp-validation-for="visitDate"></span>
    <label asp-for="visitDate">Date Of Visit</label>
    <input asp-for="visitDate" type="date" max="@ViewBag.DateTimeNow" class="form-control"/>

    <button type="submit" class="btn btn-primary">SUBMIT</button>
</form> -->