@{
    ViewData["Title"] = "LOGIN &amp; REGISTRATION";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login &amp; Registration</h1>

<div id="main">
    @Html.Partial("RegisterPartial")
    @Html.Partial("LoginPartial")
</div>


@section footer
{
    <footer id="credit">
        Created by <a href="https://github.com/jjfeng520" target="_blank">jfeng</a>.
    </footer>
}