@{
    ViewData["Title"] = "Home Page";
}

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

<h1>login &amp; registration</h1>

<div id="main">
    @Html.Partial("Register")
    @Html.Partial("Login")
</div>


<footer id="credit">
    <nav class="navbar fixed-bottom navbar-light bg-light">
        Created by <a href="https://github.com/jjfeng520" target="_blank">jfeng</a>.
    </nav>
</footer>

