/*Write all of your CSS here*/

h1 {
    text-align: center;
}

.post-note {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.note-title, .note-desc, .btn {
    display: block;
}

.note-title, .note-desc {
    width: 50%;
    margin: 10px auto;
}

.btn {
    margin: 10px auto;
}

.post-it {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    width: 20%;
    padding: 10px;
    text-align: center;
    margin: 20px;
    display: inline-block;
}