@{
    ViewData["Title"] = "Home Page";
}
<h1>MOVIE LOOKUP</h1>

<form class="search-movie">
    <label for="movie">SEARCH FOR A MOVIE:</label>
    <input type="text" name="movie-name" placeholder="Movie Name"/>
</form>

<hr>