@{
    ViewData["Title"] = "Add Trail";
}

@model LostInTheWoods.Models.Trail


<h1>LOST IN THE WOODS</h1>
<h3>ADD A NEW TRAIL</h3>
<a href="/" class="link-home">GO HOME</a>

<article id="main">
    <form asp-controller="Home" asp-action="Add" method="post" class="form-group">
        <label asp-for="name">TRAIL NAME</label>
        <span asp-validation-for="name"></span>
        <input asp-for="name" class="form-control" placeholder="Trail Name"/>
        <label asp-for="description">DESCRIPTION</label>
        <span asp-validation-for="description"></span>
        <input asp-for="description" class="form-control" placeholder="Description"/>
        <label asp-for="length">TRAIL LENGTH</label>
        <span asp-validation-for="length"></span>
        <input asp-for="length" class="form-control" placeholder="Trail Length" type="number" min="0"  step="0.01"/>
        <label asp-for="elevation">ELEVATION CHANGE</label>
        <span asp-validation-for="elevation"></span>
        <input asp-for="elevation" class="form-control" placeholder="Elevation Change" type="number" min="0"/>
        <label asp-for="longitude">LONGITUDE</label>
        <span asp-validation-for="longitude"></span>
        <input asp-for="longitude" class="form-control" placeholder="Longitude" type="number" min="-90" max="90" step="0.0001"/>
        <label asp-for="latitude">LATITUDE</label>
        <span asp-validation-for="latitude"></span>
        <input asp-for="latitude" class="form-control" placeholder="Latitude" type="number" min="-180" max="180" step="0.0001"/>
        <button type="submit" class="btn btn-primary">CREATE RECORD</button>
    </form>
</article>