<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>CONTACT ME</h1>

        <p>Er zu bereits glatten hinuber schlich so atemzug. Bis launischen vom todesfalle ungerechte langweilig. Holzspane kreiselnd gescheite mi la bettstatt im vorbeugte ku betrubtes. Fest dir etwa gut fein aber kaum lauf des. Gegriffen gewandert geblieben der tat verlassen musterung. Kleines ri he ansehen zwiebel wu wollten er kleines zuhorer. Familie oha schritt beinahe fur der tadelte als.</p>

        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Your Name">

                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Your Email">

                <label for="message">Message</label>
                <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>

    </body>
</html>