@{
    ViewData["Title"] = "Home Page";
}

@model TheDojoLeague.Models.Ninja

<aside id="registered-ninjas">
    <h1>Registered Ninjas</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">NINJA NAME</th>
                <th scope="col">HOME DOJO</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ninja in ViewBag.Ninjas)
            {
                <tr>
                    <td>@ninja.name</td>
                    <td>@ninja.dojo</td>
                </tr>
            }
        </tbody>
    </table>
</aside>

<aside id="register-ninja">
    <h1>Register a Ninja</h1>    
    <form asp-controller="Home" asp-action="RegisterNinja" method="post" class="register-ninja">
        <label asp-for="name">NINJA NAME</label>
        <span asp-validation-for="name"></span>
        <input asp-for="name" placeholder="Ninja Name"/>

        <label asp-for="level">NINJA LEVEL (1 - 10)</label>
        <span asp-validation-for="level"></span>
        <input asp-for="level" type="number" min="1" max="10" placeholder="Level"/>

        <label asp-for="dojo_id">ASSIGN DOJO?</label>
        <span asp-validation-for="dojo_id"></span>
        <select asp-for="dojo_id" placeholder="Select A Dojo">
            <option asp-for="dojo" value="0" selected>Rogue (default)</option>
            @foreach(var dojo in ViewBag.Dojos)
            {
                <option asp-for="dojo" value="@dojo.id">@dojo.name</option>
            }
        </select> 

        <button type="submit" class="btn btn-primary">ADD NINJA</button>
    </form>
</aside>