@{
    ViewData["Title"] = "LOGIN & REGISTRATION";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApplication1.Models
@model WebApplication1.Models.RegisterView


<h1>Welcome!</h1>

<div id="main">
    @*@Html.Partial("RegisterPartial")
    @Html.Partial("LoginPartial")*@

    <form asp-action="Register" method="post" class="register-form" asp-controller="Home">
        <label for="Name">Name</label>
        <span asp-validation-for="Name"></span>
        <input type="text" asp-for="Name" class="form-control" placeholder="Your Name" />

        <label for="Email">Email</label>
        <span asp-validation-for="Email"></span>
        <input type="email" asp-for="Email" class="form-control" placeholder="Your Email" />

        <label for="Password">Password</label>
        <span asp-validation-for="Password"></span>
        <input type="password" asp-for="Password" class="form-control" placeholder="Your Password" />
        <small id="emailHelp" class="form-text text-muted">* Password should be at least 8 characters.</small>

        <label for="ConfirmPassword">Confirm Password</label>
        <span asp-validation-for="ConfirmPassword"></span>
        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />

        <button type="submit" class="btn btn-primary">REGISTER</button>
    </form>
</div>


@section footer
    {
    <footer id="credit">
        Created by <a href="https://github.com/jjfeng520" target="_blank">jfeng</a>.
    </footer>
}