@{
    ViewData["Title"] = "LOGIN & REGISTRATION";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApplication1.Models


<h1>Welcome!</h1>

<div id="main">
    @Html.Partial("RegisterPartial")
    @Html.Partial("LoginPartial")
</div>


@section footer
    {
    <footer id="credit">
        Created by <a href="https://github.com/jjfeng520" target="_blank">jfeng</a>.
    </footer>
}