@{
    ViewData["Title"] = "LOGIN & REGISTRATION";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApplication1.Models


<h1>Welcome @ViewBag.LoggedUser.Name!</h1>

<div id="main">
    <h1>SUCCESS!</h1>

    <a href="/logout">LOGOUT</a>
</div>
